.sound_div {
  position: fixed;
  top: 0px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background-color: transparent;
  border-radius: 50%;
  transition: all 0.3s linear;
  color: #000000;
  border: none;
  cursor: pointer;
  margin-top: 16px;
  z-index: 1;
  @media (max-width: 576px) {
    width: 32px;
    height: 32px;
  }
}
