// .calendar-container {
//   opacity: 0;
//   transform: translateX(20rem);
//   transition: opacity 1s ease-out, transform 1s ease-out;
// }

// .calendar-container.visible {
//   opacity: 1;
//   transform: translateX(0);
// }

.calendar {
  width: 320px;
  border-collapse: collapse;
  margin: 0 auto 1rem;
  font-size: 0.9rem;
  position: relative;
  background: rgba(150, 137, 103, 0.4);
  border-radius: 12px;
  z-index: 100;
}

.calendar th,
.calendar td {
  padding: 6px;
  position: relative;
}

.calendar td {
  opacity: 0.8;
}

.calendar .circle {
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.calendar .with-heart {
  position: relative;
}

.calendar .active_heart {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  animation: pulse-heart 1.5s infinite ease-in-out;
  transform-origin: center;
}

.calendar .circle svg {
  display: inline-block;
  width: 46px;
  height: 46px;
}

@keyframes pulse-heart {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}

// Selected types

.selected-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #111111;
  border-radius: 50%;
  color: #fff;
  height: 40px;
  width: 40px;
  z-index: -1;
}
