.map-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover,
  &:focus,
  &:active {
    background-color: white;
    color: black;
    border: 1px solid #5b3d2d;
    transition: all 0.2s ease-in-out;
  }
}
